header
{
  background-image:url(../images/header_bg.gif);
  padding-top:15px;
  padding-bottom: 0px;
  height: 80px;
}

body
{
	/*width:1080px;*/
	margin:0 auto;
	font-size: 12px;
	line-height: 1.8em;
	color:#5f5f5f;
}
article a
{
	color:black;
}
p
{
	font-size: 12px;
	line-height: 1.8em;
}
h1 a
{
	color:black;
	font-size: 30px;
	line-height: 1.2em;
	position: relative;
	left: 100px;
	text-decoration:none;
}

nav
{
	/*position: relative;*/
	padding-left:1000px;
	position: relative;
	bottom: 46px;
}
nav a
{
	color:#5f5f5f;
	padding:10px;
}
nav a:hover
{
	color:#fff;
	background-color: #3a90c9;
}
nav li
{
	color: #5f5f5f;
	font-size: 15px;
	background-image: url(../images/menu.gif);
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	float:left;
}

*
{
	margin: 0;
	padding: 0;
}





.demo{
	padding: 2em 0;
}
.product-grid{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease 0s;
}
.product-grid:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.3); }
.product-grid .product-image{ overflow: hidden; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image img{ transform: scale(1.1); }
.product-grid .product-content{
    padding: 12px 12px 15px 12px;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-content{ opacity: 0; }
.product-grid .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.product-grid .title a{ color: #000; }
.product-grid .title a:hover{ color: #2e86de; }
.product-grid .price {
    font-size: 18px;
    font-weight: 600;
    color:#2e86de;
}
.product-grid .price span {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block;
}
.product-grid .social{
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .social{
    opacity: 1;
    bottom: 20px;
}
.product-grid .social li{ display: inline-block; }
.product-grid .social li a{
    color: #909090;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    border: 1px solid #909090;
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.product-grid .social li a:hover {
    color: #fff;
    background-color: #2e86de;
    width: 80px;
}
.product-grid .social li a:before,
.product-grid .social li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #2e86de;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}
.product-grid .social li a:after{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform:translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    opacity: 1;
}
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
   }
   .white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	border: 16px solid lightblue;
	background-color: white;
	z-index:1002;
	overflow: auto;
   }
   .white_content_small {
	display: none;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	height: 50%;
	border: 16px solid lightblue;
	background-color: white;
	z-index:1002;
	overflow: auto;
   }
   