
<header>
    <div class="header_resize">
      <div class="logo">
      	<h1><a href="#">Welcome 最潮的球鞋平台</a></h1>
      </div>
       <!--导航-->
      <nav>
        <ul>
          <li class="active"><a href="index.html">主页</a></li>
          <li><a href="/information.html">球鞋咨询</a></li>
          <li><a href="/identify.html">球鞋鉴定</a></li>
          <li><a href="/forum.html">球鞋论坛</a></li>
          <li><a href="/aboutUs.html">关于我们</a></li>
        </ul>
      </nav>
       <!--导航结束-->
    </div>
  </header>