<!DOCTYPE html>
<html>
<head>
   <link type="text/css" href="../../static/information/css/information.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/information/js/jquery.js"></script>
    <script type="text/javascript" src="../static/information/js/information.js"></script>

    <!--响应式框架-->
    <link rel="stylesheet" type="text/css" href="../../static/information/css/bootstrap-grid.min.css" />

    <!--图标样式-->
    <link href="../../static/information/css/font-awesome.min.css" rel="stylesheet">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>球鞋咨询</title>
</head>
{% include 'part/header.html' %}
<body>
    <div class="container">
        <form action="http://localhost:5000/search" class="parent" method="post">
            <input type="text" class="search" placeholder="请输入您想要查询的球鞋名称" name="sName">
            <input type="submit" name="搜索" id="" class="btn" value="搜索">
        </form>
    </div>

  <div class="demo">
    <div class="container">

      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/Edison Chen x Air.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Edison Chen x Air</a></h3>
              <div class="price">¥2499
                <span>¥2699</span>
              </div>
            </div>
            <ul class="social">
            <li class="active"><a href="{{url_for('quickView',id=0)}}"data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/北卡蓝.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">北卡蓝</a></h3>
              <div class="price">¥1679
                <span>¥2499</span>
              </div>
            </div>
            <ul class="social">
               <li class="active"><a href="{{url_for('quickView',id=1)}}" data-tip="Quick View" ><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/aj7 Patta OG.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">aj7 Patta OG</a></h3>
              <div class="price">¥1849
                <span>¥2099</span>
              </div>
            </div>
            <ul class="social">
              <li class="active"><a href="{{url_for('quickView',id=2)}}"data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/aj11 季后赛.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">aj11 季后赛</a></h3>
              <div class="price">¥1729
                <span>¥2099</span>
              </div>
            </div>
            <ul class="social">
              <li class="active"><a href="{{url_for('quickView',id=3)}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/aj1 Fearless.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">aj1 Fearless</a></h3>
              <div class="price">¥1649
                <span>¥1899</span>
              </div>
            </div>
            <ul class="social">
                <li class="active"><a href="{{url_for('quickView',id=4)}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/aj1 Quai54.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">aj1 Quai54</a></h3>
              <div class="price">¥1769
                <span>¥1999</span>
              </div>
            </div>
            <ul class="social">
               <li class="active"><a href="{{url_for('quickView',id=5)}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/aj14 x Supreme白红.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">aj14 x Supreme白红</a></h3>
              <div class="price">¥1829
                <span>¥2099</span>
              </div>
            </div>
            <ul class="social">
                <li class="active"><a href="{{url_for('quickView',id=6)}}"data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="product-grid">
            <div class="product-image">
              <a href="#">
                <img class="pic-1" src="../static/information/images/Travis Scoot x.jpg">
              </a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">Travis Scoot x</a></h3>
              <div class="price">¥4379
                <span>¥5299</span>
              </div>
            </div>
            <ul class="social">
               <li class="active"><a href="{{url_for('quickView',id=7)}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

  </div>

</body>
</html>
