<!DOCTYPE html>
<html lang="en">
 <!--响应式框架-->
    <link rel="stylesheet" type="text/css" href="../../static/information/css/bootstrap-grid.min.css" />

    <!--图标样式-->
    <link href="../../static/information/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/forum/css/style.css" rel="stylesheet">
<header>

      	<h1><a href="#">请编写你的帖子</a></h1>

</header>


<body>
    <form action="/forum/add" method="post">
        <div>
            <div class="form-group" >
{#                <label for="add-forum-title">Title</label>#}
                <span for="add-forum-title">帖子主题</span>
{#                <input type="text" name="add-forum-title" placeholder="标题" id="add-forum-title">#}
                <input class="form-field" type="text" placeholder="标题" name="add-forum-title" id="add-forum-title" style=" width: 700px">
            </div>

            <div class="form-group">

                <span for="add-forum-text">帖子内容</span>
                <textarea class="form-field" type="text" name="add-forum-text" placeholder="内容" id="add-forum-text" style="height: 300px; width: 300px;"> </textarea>
            </div>

             <div class="form-group">
                 <button type="submit" class="btn" class="send_btn" >发布帖子</button>
            </div>
        </div>

    </form>
    <div>
        {% if get_flashed_messages() %}
            <p class = "message_flash" >{{ get_flashed_messages()[0] }}</p>
        {% endif %}
    </div>

</body>
</html>